html {
    font-size: 62.5%;
}

.body {
    background-color: white;
    font-family: $secondaryFont;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 4rem;
}

@import "../components/App/app.scss";
@import "../components/Header/header.scss";
@import "../components/Intro/intro.scss";
@import "../components/Slide/slide.scss";
