.video {
    padding: 5rem 0;
}

.video__inner {
    padding: 3rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 992px) {
        padding: 2rem 0;
    }
}

.video__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;

    @media screen and (max-width: 992px) {
        gap: 2rem;
    }
}

.video__item {
    width: 40%;
    height: 22rem;

    iframe {
        width: 100%;
        height: 100%;
        transition: all 0.2s ease-in-out;
        border-radius: 2rem;
        box-shadow: 2px 2px 5px $fontColor;

        &:hover {
            opacity: 0.9;
            transform: scale(1.1);
        }
    }

    @media screen and (max-width: 992px) {
        width: 47%;
        height: 18rem;

        iframe {
            &:hover {
                transform: scale(1.05);
            }
        }
    }

    @media screen and (max-width: 768px) {
        width: auto;
        height: auto;
    }
}
